{% csrf_token %}

<div class="col-12">
    <div class="form-outline">
        {% for error in form.description.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        {{ form.description}}

    </div>
</div>

<div class="col-12">
    <div class="form-outline">
        {% for error in form.status.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        {{ form.status }}
    </div>
</div>
<div class="col-12">
    <div class="form-outline">
        {% for error in form.deadline.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        {{ form.deadline }}
    </div>
</div>
<div class="col-12">
    <div class="form-outline">
        {{ form.more_info }}
    </div>
</div>
<div class="col-12">
    <button type="submit" class="btn btn-primary mt-4">{{ button_text }}</button>
</div>